#carousel{
    width:100%;
}
#carousel > div ul li a img{
    width:100%;
    height:440px;
    display: block;
}
#carousel > div ul li:not(:first-child){
    display: none;
}
@media screen and (max-width:760px) {
    #carousel{
        width:740px;
    }
    #carousel > div ul li a img{
        width:740px;
        height:440px;
        display: block;
    }
}
@media screen and (max-width:640px) {
    #carousel{
        width:620px;
    }
    #carousel > div ul li a img{
        width:620px;
        height:440px;
        display: block;
    }
}