*{
 margin:0;
 padding:0;
 }
 #yemian{
		background-image:url("../img/beijing.jpg");
	  background-size:100% 100%;
 }
 #header{
	width:100%;
	height:90px;
	position:relative;
	border-bottom:2px solid rgba(6,6,6,0.4);
 }
 .chufang {
		position:absolute;
		left:500px;
		top:15px;
 }
 .denglu{
		position:absolute;
		left:1200px;
		top:22px;
		height:26px;
 }
 .denglu a{
	text-decoration:none;
	color: #dd3915;
 }
 #zhuti{
	 width:100%;
	 height:700px;
	 margin-top:50px;
 }
 #zhucemian{
 width:500px;
	margin-left:56%;
	margin-top:7%;
 }
#zhucemian .d1{
	
	font-size:50px;
}
#zhucemian input,#zhucemian p{
 
	width:300px;
	height:40px;
	margin:5px 20px;
}
#xieyi{
	color:blue;
	font-size:15px;
}
#zhuti ul{
  position:relative;
 left:800px;
 top:-162px;
list-style:none;
width:200px;
}
#zhuti ul li{
width:200px;
height:50px;
margin:6px 0;
}
